.task{
    display: flex;
    justify-content: center;
    align-items: center;
    width:20rem;
    padding:13px;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    width:25rem;
}
#head{
    margin:24px 315px;
    padding: 33px 102px;
    width: 30rem;
    color: black;
}
div.task2{
    display: flex;
    width:34rem;
}
.tasks{
    display: flex;
    justify-content: center;
    align-items: center;
    width:40px;
    margin: 13px;
}
 #list{
    margin: 10px 280px;
    padding: 33px 102px;
    width: 30rem;
}
.todotask{
    display: flex;
    justify-content: space-between;
    background-color: white;
    border: 4px solid palevioletred;
    width:500px;
    border-radius: 8px;
}
#inside{
    padding: 7px 8px;
    margin: 6px 7px;
    width: 265px;
    border-radius: 12px;
    border: 4px solid black;
}
i.fa.fa-plus-square{
    font-size: 28px;
}
div.contenttodo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding:2px 0px;
}
input.text{
    width: 367px;
    border: 1px;
    padding: 11px 8px;
}
.edit-btn{
  width:42px;
  padding: 4px 2px;
  background: white;
}
.delete-btn{
    width:43px;
    padding: 4px 8px;
    background: white;
}
body{
    background-image:linear-gradient(450deg,#61196c,#ffc10799);
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: content-box;
}
button.btn{
    padding: 3px 4px;
    border: 0px solid black;
    background-color: white;
}
.btn:hover{
   background:pink;
}
button:hover{
    background-image: linear-gradient(450deg,#ffc10799,#611961);
    border-radius: 4px solid black;
}
.btn:active{
    background:#ffc10799;
}
button:active{
   background-image: linear-gradient(450deg,pink,blueviolet);
}




